@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #222222;
  --primary: #e32d33;
  --button-hover: #e32d33;
  --heading: #a6161d;
  --gray-light: #f5f5f5;
  --montreal: "Neue Montreal", sans-serif;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .max-container {
    @apply w-full max-w-[70rem] p-3 mx-auto;
  }
  .nav-link {
    @apply capitalize opacity-[67%] text-sm hover:text-[var(--primary)] duration-300 ease-in-out;
  }
  .btn-rounded {
    @apply w-fit bg-[var(--primary)] font-semibold text-[var(--background)] text-sm rounded-full p-3;
  }
  .btn-large {
    @apply bg-[var(--primary)] font-semibold text-[var(--background)] text-sm rounded-3xl px-12 py-3;
  }
  .btn-small {
    @apply bg-[var(--primary)] font-semibold text-[var(--background)] text-sm rounded-3xl px-6 py-2;
  }
}

html {
  scroll-behavior: smooth;
}
